<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721080840217-cg9fonqhdsqd4245qc8kfubgbr3u02bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721080840217-cg9fonqhdsqd4245qc8kfubgbr3u02bs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>721080840217-jb56jh5n1srf530ukjsv568lihuki9un.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ2GzSvF_mRWZRMbFXNXAX7ohW9mL9SRI</string>
	<key>GCM_SENDER_ID</key>
	<string>721080840217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etruckviconship.cni</string>
	<key>PROJECT_ID</key>
	<string>e-truck-a14b5</string>
	<key>STORAGE_BUCKET</key>
	<string>e-truck-a14b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721080840217:ios:2afa312f6ee05da1f77a88</string>
	<key>DATABASE_URL</key>
	<string>https://e-truck-a14b5.firebaseio.com</string>
</dict>
</plist>